%button {
  display: inline-block;
  width: 200px;
  height: 50px;
  background-color: blue;
  color: white;
  font-size: 20px;
  padding: 10px 30px;
  margin: 20px;
  border: 5px;
  cursor: pointer;
}

@mixin bord($radius) {
  border-radius: $radius;
}