.container {
width: 500px;
height: 300px;
background-color: rgb(44, 237, 237);
margin-top: 20px;

display: flex;
align-items: center;
justify-content: space-around;
}

.box {
width: 100px;
height: 100px;
background-color: rgb(50, 141, 17);
}