.contain {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  gap: 20px;
}

.element {
  height: 120px;
  width: 350px;
  background-color: tomato;
  border-radius: 5px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  font-size: 20px;
}

.twoLink {
  display: block;
  font-size: 22px;
  margin-top: 20px;
  margin-left: 150px;
  color: blue;
  
}